.card_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vh;
}

.card {
    background: #d7d7d7;
    width: 15vw;
    height: 35vh;
}

.card:hover {
    opacity: 0.8;
}

.card:active {
    transform: scale(0.98);
}